APP_NAME=api nisir tutorial
PORT=7000
NODE_ENV=development
JWT_SECRET=fallback_secret_change_me
BACKEND_URL=http://localhost:7880
FRONTEND_URL=http://localhost:3000
DATABASE_URL="postgresql://postgres:tura134@localhost:5432/api_nisir_tutorial?schema=public"